# ── API sin login (http) ──────────────────────────────
# VITE_API_BASE_URL=http://dev.bgt.local/api/
# NGINX_API_UPSTREAM=http://dev.bgt.local/
# NGINX_API_HOST=dev.bgt.local

# ── API con login (https + authelia) ─────────────────
VITE_API_BASE_URL=https://api.bgt-auth.local/api/
NGINX_API_UPSTREAM=https://api.bgt-auth.local/
NGINX_API_HOST=api.bgt-auth.local

# ── Auth ──────────────────────────────────────────────
NGINX_AUTH_UPSTREAM=https://auth.bgt-auth.local/
VITE_OIDC_AUTH_ENDPOINT=https://auth.bgt-auth.local/api/oidc/authorization
VITE_OIDC_LOGOUT_URL=https://auth.bgt-auth.local/logout
VITE_OIDC_REDIRECT_URI=https://app.bgt-auth.local/callback
VITE_OIDC_TOKEN_ENDPOINT=/auth/api/oidc/token
VITE_OIDC_SCOPE=openid profile email groups offline_access
VITE_OIDC_CLIENT_ID=bgt-auth
VITE_OIDC_AUDIENCE=bgt-auth

# ── Otros ─────────────────────────────────────────────
VITE_MOCK_API=false